<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginMvc</display-name>
  <welcome-file-list>
    <welcome-file>GuestServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>dbTest</display-name>
    <servlet-name>dbTest</servlet-name>
    <servlet-class>com.mvc.util.dbTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dbTest</servlet-name>
    <url-pattern>/dbTest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GuestServlet</display-name>
    <servlet-name>GuestServlet</servlet-name>
    <servlet-class>com.mvc.controller.GuestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GuestServlet</servlet-name>
    <url-pattern>/GuestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateUserServlet</display-name>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.mvc.controller.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/CreateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporterServlet</display-name>
    <servlet-name>ReporterServlet</servlet-name>
    <servlet-class>com.mvc.controller.ReporterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporterServlet</servlet-name>
    <url-pattern>/ReporterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateNewStory</display-name>
    <servlet-name>CreateNewStory</servlet-name>
    <servlet-class>com.mvc.controller.CreateNewStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateNewStory</servlet-name>
    <url-pattern>/CreateNewStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayStoryServlet</display-name>
    <servlet-name>DisplayStoryServlet</servlet-name>
    <servlet-class>com.mvc.util.DisplayStoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayStoryServlet</servlet-name>
    <url-pattern>/DisplayStoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStory</display-name>
    <servlet-name>EditStory</servlet-name>
    <servlet-class>com.mvc.controller.EditStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStory</servlet-name>
    <url-pattern>/EditStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditStorySubmit</display-name>
    <servlet-name>EditStorySubmit</servlet-name>
    <servlet-class>com.mvc.controller.EditStorySubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditStorySubmit</servlet-name>
    <url-pattern>/EditStorySubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStory</display-name>
    <servlet-name>DeleteStory</servlet-name>
    <servlet-class>com.mvc.controller.DeleteStory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStory</servlet-name>
    <url-pattern>/DeleteStory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStorySubmit</display-name>
    <servlet-name>DeleteStorySubmit</servlet-name>
    <servlet-class>com.mvc.controller.DeleteStorySubmit</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStorySubmit</servlet-name>
    <url-pattern>/DeleteStorySubmit</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Subscriber</display-name>
    <servlet-name>Subscriber</servlet-name>
    <servlet-class>com.mvc.controller.Subscriber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Subscriber</servlet-name>
    <url-pattern>/Subscriber</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFavourite</display-name>
    <servlet-name>AddFavourite</servlet-name>
    <servlet-class>com.mvc.controller.AddFavourite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFavourite</servlet-name>
    <url-pattern>/AddFavourite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveFavourite</display-name>
    <servlet-name>RemoveFavourite</servlet-name>
    <servlet-class>com.mvc.controller.RemoveFavourite</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveFavourite</servlet-name>
    <url-pattern>/RemoveFavourite</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet1</display-name>
    <servlet-name>LogoutServlet1</servlet-name>
    <servlet-class>com.mvc.controller.LogoutServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet1</servlet-name>
    <url-pattern>/LogoutServlet1</url-pattern>
  </servlet-mapping>
</web-app>